<!DOCTYPE html>
<html lang="en">
	<head>
 		<meta charset="utf-8">
 		<title>index</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/tmpl.js"></script>
 		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>	
		<script type="text/template" id="wrapper-template">
			<div class="wrapper">
			<h2>To do list</h2>
			<div class="box">
				<ol class="item-list"></ol>
				<div class="controlls">
					<input type="text" class="item-value">
					<button class="item-add">Add</button>
					<button class="item-edit">Edit</button>
				</div>
			</div>
			</div>
		</script>

		<script type="text/template" id="list-template">
			<% for (var i = 0; i < data.length; i++) { %>
			<li><p><%= data[i] %> </p> <b data-value="<%= data[i] %>" class="item-delete">delete</b><b data-value="<%= data[i] %>" class="item-edit"> edit</b></li>
		<% }; %>
		</script>
	</body>
</html>
